#Firmware
credentials.h
*.elf
*.bin
**/build/

#Server
__pycache__/
credentials.py
*.pyc
*.pyo
*.db

#Mobile
.gradle/
local.properties
/build/
*.iml

#Hardware
*-backups/
fp-info-cache
~*.lck

#OS
.DS_Store
Thumbs.db
*.swp
*.save
