[Unit]
Description=HAP Server
After=network.target

[Service]
Type=simple
User=alan
WorkingDirectory=/home/alan/hap/server/scripts
ExecStart=/home/alan/hap/setup/venv/bin/python /home/alan/hap/server/scripts/main.py
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

# Paths must be adjusted according to the system
